/* Common */
.transparentBg {
    -fx-background-color: rgba(0,0,0,0);
}
.hoverCursor:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}
.pressEffect:pressed {
    -fx-effect: dropshadow( gaussian , #7D42F1 , 4,0,0,1 ); 
    /* -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 ); */
    -fx-opacity: 1;
}
/* All Scroll Pane CSS */
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport{
    -fx-background-color: transparent;
}
.scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-pane .comer {
    -fx-pref-width: 0;
}


.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}

.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 8.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 8.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#7d42f1, 40%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#7d42f1,5.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.textAreaWrap {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 35;
}

.textArea {
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-background-color: #fff;
    -fx-font-size: 20px;
    -fx-opacity: 1;
}

.textArea .scroll-pane {
    -fx-background-color: transparent;
}
.textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.textArea .scroll-pane .content{
    -fx-background-color: transparent;
}

/* Scroll bar CSS */
.textArea .scroll-bar:horizontal .track,
.textArea .scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.textArea .scroll-bar:horizontal .increment-button ,
.textArea .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 8.0 0.0;

}

.textArea .scroll-bar:vertical .increment-button ,
.textArea .scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 8.0 0.0 0.0;

}

 .textArea .scroll-bar .increment-arrow,
 .textArea .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .textArea .scroll-bar:vertical .increment-arrow,
 .textArea .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.textArea .scroll-bar:horizontal .thumb,
.textArea .scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,100.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.textArea .scroll-bar:horizontal .thumb:hover,
.textArea .scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,5.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

/* Menu Side bar CSS*/
.backGround_0_7 {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.backGround_0_9 {
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.sideBar {
    -fx-background-radius: 0 30 30 0;
    -fx-background-insets : 0 3 0 0;
    -fx-border-radius: 0 30 30 0;
    -fx-border-width: 6 6 6 0;
    -fx-border-color: #333;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 6, 0);
}

.menuButton {
    -fx-background-radius: 0 26 0 0;
    -fx-border-color: #666;
    -fx-border-width: 0 0 3px 0;
}

.menuButton .label{
    -fx-font-size: 40px;
    -fx-text-fill: #7D42F1;
    -fx-text-alignment: LEFT;
    -fx-font-family: "Arial";
    -fx-font-weight: BOLD;
}

.buttonMenuBar {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.buttonMenuBar .label{
    -fx-font-size: 30px;
    -fx-text-fill: black;
    -fx-text-alignment: LEFT;
    -fx-font-family: "Arial";
    -fx-font-weight: BOLD;
}

.hoverMenu:hover {
    -fx-cursor: hand;
    -fx-background-color: #7D42F125;
    -fx-opacity: 0.8;
}

.buttonMenuBar.active {
    -fx-opacity: 1;
    -fx-background-color: #7D42F150;
}

.buttonMenuBar.active .label {
    -fx-text-fill: white !important;
}

/* Translator CSS */
.backgroundGradient {
    -fx-background-color: linear-gradient(to right, #fff7ad, #ffa9f9);
}

.backgroundMenuBar {
    -fx-background-color: rgba(125, 66, 241, 0.2);
    -fx-background-radius: 20;
}

.buttonLanguage {
    -fx-pref-width: 110px;
    -fx-pref-height: 60px;
    -fx-background-color: #7D42F1;
    -fx-background-radius: 25;
    -fx-background-insets : 3px;
    -fx-border-radius: 25;
    -fx-border-width: 4px;
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
    -fx-text-alignment: center;
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.buttonTranslate {
    -fx-pref-width: 140px;
    -fx-pref-height: 50px;
    -fx-background-color: #7D42F1;
    -fx-background-radius: 25;
    -fx-background-insets : 2px;
    -fx-border-radius: 25;
    -fx-border-width: 3px;
    -fx-border-color: #999;
    -fx-text-fill: #fff;
    -fx-text-alignment: center;
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

/* .buttonMenuBar:focused {
    -fx-translate-y: -1px;
} */

.reverseButton {
    -fx-max-width: 45px;
    -fx-max-height: 45px;
    -fx-background-radius: 50;
}

.reverseIcon {
    -fx-max-width: 45px;
    -fx-min-width: 45px;
}

/* Dictionary CSS */
.searchBar {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 4, 4);
}

.choiceHBox {
    -fx-background-color: #D3FB82;
    -fx-background-radius: 15;
    -fx-border-color: #89A377;
    -fx-border-radius: 15;
    -fx-background-insets: 2px;
    -fx-border-width: 4px;
}

.choiceDictType .open-button {
    -fx-pref-height: 24px;
    -fx-pref-width: 24px;
}

.choiceDictType .label {
    -fx-text-alignment: CENTER;
    -fx-font-size: 22px;
    -fx-font-family: 'Arial';
    -fx-font-weight: BOLD;
}

.searchButton {
    -fx-background-color: transparent;
    -fx-border-color: #89A377;
    -fx-border-width: 0 0 0 4;
    -fx-border-insets: 0 0 0 0;
}

.searchButton:hover {
    -fx-background-color: rgba(0, 0, 0, 0.08);
}

.historySearch {
    -fx-background-color: white;
    -fx-background-radius: 35;
}

.historyWordButton {
    -fx-background-color: #a6a6a6;
    -fx-background-radius: 35;
}

.resultSearchArea {
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-background-color: #fff;
    -fx-padding: 10 10 70 10;
    -fx-opacity: 1;
    /* -fx-font-family: 'Arial Unicode MS'; */
    /* -fx-border-style: none; */
}

.resultSearchArea .scroll-pane {
    -fx-background-color: transparent;
}
.resultSearchArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.resultSearchArea .scroll-pane .content{
    -fx-background-color: transparent;
}

.resultSearchArea .scroll-bar:horizontal .track,
.resultSearchArea .scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.resultSearchArea .scroll-bar:horizontal .increment-button ,
.resultSearchArea .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 8.0 0.0;

}

.resultSearchArea .scroll-bar:vertical .increment-button ,
.resultSearchArea .scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 8.0 0.0 0.0;

}

 .resultSearchArea .scroll-bar .increment-arrow,
 .resultSearchArea .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .resultSearchArea .scroll-bar:vertical .increment-arrow,
 .resultSearchArea .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.resultSearchArea .scroll-bar:horizontal .thumb,
.resultSearchArea .scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,100.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.resultSearchArea .scroll-bar:horizontal .thumb:hover,
.resultSearchArea .scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,5.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}



.typeWord {
    -fx-background-color: #a6a6a660;
    -fx-background-radius: 6px;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-font-weight: BOLD;
    -fx-text-fill: #7D42F1;
    -fx-translate-x: 10;
}

.meanWord {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-text-fill: #333;
    -fx-translate-x: 30;
    -fx-padding: 0 0 0 6;
    -fx-border-color: #7D42F1;
    -fx-border-width: 0 0 0 4;
    -fx-border-insets: 12 0 0 0;
}

.exampleWord {
    -fx-background-color: transparent;
    -fx-font-family: 'Arial';
    -fx-font-size: 15px;
    -fx-text-fill: #333;
    -fx-translate-x: 40;
    -fx-padding: 0 0 0 6;
    -fx-border-color: #89A377;
    -fx-border-width: 0 0 0 4;
    -fx-border-insets: 15 0 0 0;
    -fx-font-style: Italic;
}

.delete_editButton {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: #D3FB82;
    -fx-border-color: #89A377;
    -fx-background-insets: 2px;
    -fx-border-width: 4px;
}

.addWordPane {
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-background-color: #fff;
    -fx-opacity: 1;
}

.oopsLabel {
    -fx-background-color: #7D42F1;
    -fx-text-fill: white;
    -fx-background-radius: 35;
}

.addButton {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-background-color: white;
    -fx-border-color: #89A377;
    -fx-background-insets: 2px;
    -fx-border-width: 4px;
}

.addWordButton {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: #D3FB82;
    -fx-border-color: #89A377;
    -fx-background-insets: 2px;
    -fx-border-width: 4 4 4 4;
}

.overlayAddWord {
    -fx-background-color: rgba(0, 0, 0, 0.45);
}

.addWordBox {
    -fx-background-color: #fffbc2;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-background-insets: 2px;
    -fx-border-width: 6px;
    -fx-border-color: #89a377;
}

.addWordField {
    -fx-padding: 0 0 0 20;
    -fx-background-color: white;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-background-insets: 2px;
    -fx-border-width: 3px;
    -fx-border-color: #89a377;
}

.addWordArea {
    -fx-background-color: white;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-background-insets: 2px;
    -fx-border-width: 3px;
    -fx-border-color: #89a377;
    -fx-padding: 10 10 10 10;
    -fx-font-size: 18px;
}